.signup h1 , .login h1{
    text-align: center;
    margin-top: 50px;
    margin-bottom: 50px;
}

.auth-toggle-Link{
    text-align: center;
    color: black;
    cursor:pointer;
    size: 14px;
    margin-top: 20px;

}
.error-p{
    text-align: center;
    color:red;
}
